<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="pokedex">
    <div ng-controller="PokedexController as pokeCtrl">
      <h1>COLTECdex</h1>

      <table>
        <tr><td><b>Pokemon</b></td></tr>
        ID: <input min="0" type="number" ng-model="pokeCtrl.search" ng-change="pokeCtrl.getDetails()" /> <br />
        <tr ng-repeat="pokemon in pokeCtrl.pokemons | filter:{id:pokeCtrl.search}:true ">
          <td>{{ pokemon | json }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
